---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025-05-06')}
	heroImage="/tlb-dark.svg"
>
	<p>
		I’m passionate about technology, people, culture and building high-performing tech companies that deliver real business value with minimal overhead, low employee turnover and a healthy culture. I have worked with all aspects of technology for over 20 years, in small and large organisations, as a founder, consultant, software developer, architect and engineering manager at all levels.
	</p>

	<p>
		As CTO at Connected Cars I helped take an early stage prototype to full production and build a strong engineering team and tech company that built one of the leading telematics platforms to power carpark aftersales loyalty and offline market connectivity. Covering everything from vendor management, compliance and security, legal, hardware design, embedded software, scalable backend, data science, web, mobile, to vehicle data extraction.
	</p>

	<p>
		Previously I have worked in Danske Bank and Nordea where I helped build the team that delivered June a robo-advisor for ETF investment and, Sunday(now Danske Bank Bolig), biometric authentication for Nordea Mobile and the groundwork for the new Nordea online bank.
	</p>

	<p>
		I also co-founded IT-Kartellet back in 2009 an IT consultancy with customers ranging from SMEs to major corporations.
	</p>
</Layout>
